html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #BF3131;
}

.container{
  margin: 7% auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background-color: #272829;
  box-shadow: 40px 40px 25px black;
  
}

.display-div {
  /* border: 2px solid red; */
  border-radius: 10px;
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display{
  /* outline: 2px solid green; */
  border-radius: 10px;
  width: 360px;
  height: 100px;
  background-color: #C8C6C6;
  border-radius: 10px;
}

.operation-display, .result-display {
    /* outline: 2px solid green; */
    height: 50%;
    display: flex;
    
}

#operation, #operation-result{
  height: 100%;
  width: 100%;
  background-color: #C8C6C6;
  border-style: none;
  font-size: 2.5rem;
  text-align: right;
  border-radius: 7px; 
}

.buttons-div{
  /* border: 2px solid blue; */
  border-radius: 10px;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.top-div{
  /* border: 2px solid lightblue; */
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.buttons{
  /* border: 2px solid orange; */
  width: 360px;
  height: 425px;
}

.bottom-div{
  /* border: 2px solid lightgreen; */
  height: 40%;
  display: flex;
}

.bottomleft-div {
  /* border: 2px solid lightseagreen; */
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.bottomright-div {
  /* border: 2px solid red; */
  width: 26%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 80px;
  height: 75px;
  background-color: #A9A9A9;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-style: none;
  border-radius: 7px; 

}

.clear, .backBtn{ 
  /* width: 48%; */
  background-color: #E55604;
}

.btn-0 {
  width: 65%;
}

/* .btn-de{
  height: 90px;
} */

.btn-1, .btn-2, .btn-3, .equal{
  margin-top: 2px;
}
.btn-equal {
  width: 80px;
  height: 96%;
  background-color: #E55604;
}

.divide-btn, .multiply-btn, .reduce-btn, .add-btn{
  background-color: black;
}
